/* HEADER */

.header-logo {
  padding-left: 2rem;
}
.header-buttons {
  padding-right: 2rem;
}

/* SEARCH */

.container-search-input {
  margin-top: 1rem;
  flex-direction: row;
}
.container-search-input-txt {
  width: 70%;
}
.container-search-input h3 {
  width: 15%;
  margin-left: 1.5rem;
}

/* IMAGE CONTAINER */
.container-stores {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-stores-restaurant,
.container-stores-market,
.container-stores-stores {
  width: 34%;
}

.container-stores-restaurant img,
.container-stores-market img,
.container-stores-stores img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.container-stores-stores-txt {
  font-size: 1.8rem;
}
.container-stores-market-txt {
  font-size: 1.8rem;
}
.container-stores-restaurant-txt {
  font-size: 1.8rem;
}


/* BENEFITS */
.container-benefits-wrapper {
  padding: 4rem 0;
  flex-direction: row;
}
.container-benefits-content-img {
  width: 60%;
}

/* LOGOS */
.container-restaurantlogos {
  padding: 4rem;
}

/* PRIME */
.container-primebenefits {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-primebenefits-txt {
  width: 60%;
  margin-bottom: 4rem;
  order: 1;
}
.container-primebenefits-img {
  width: 40%;
  order: 3;
}
.container-primebenefits-btn {
  width: 50%;
  color: white;
  position: absolute;
  align-self: flex-end;
}
